<template>
  <div class="home">
    <HelloWorld msg="ข่าวสารประชาสัมพันธ์"/>
    <img alt="Vue logo" src="../assets/buu.jpg"> 
  </div>
</template>

<script>
// @ is an alias to /src
import HelloWorld from '@/components/HelloWorld.vue'

export default {
  name: 'Home',
  components: {
    HelloWorld
  }
}
</script>
