<template>
  <div>
    <table>
      <thead>
        <tr>
          <th>หมวดวิชา</th>
          <th>จำนวนหน่วยกิต</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="subject in subject" :key=subject.id>
          <td>{{ subject.name }}</td>
          <td>{{ subject.credit }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
export default {
  name: 'subject',
  props: {
    subject: Array
  }
}
</script>

<style scoped>
table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 70%;
  text-align: center;
}

table td, table th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

table tr:nth-child(even){background-color: #f2f2f2;}

table tr:hover {background-color: #ddd;}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #040faa;
  color: white;
}
</style>

