<template>

  <Sidebar />
  
  <div :style="{ 'margin-left': sidebarWidth }">
    <router-link to="/">Home</router-link> |
    <router-link to="/about">หมวดวิชา</router-link> |
    <router-link to="/about">โมดูล</router-link> |
    <router-link to="/about">วิชา</router-link> 
  </div>
  

  <div id="app" class="small-container">
    <h1>Subjects</h1>
    <subject :subject="subject" />
  </div>
  <router-view/>
</template>

<script>
import Sidebar from '@/components/sidebar/Sidebar'
import Subject from '@/components/Subject'

export default {
  name:'App',
  components: { 
    Sidebar,
    Subject
    },
    data () {
      return {
        subject: [
          {
          id: 1,
          name: 'ศึกษาทั่วไป',
          credit: '30'
          },
          {
          id: 2,
          name: 'วิชาแกน',
          credit: '30'
          }
        ]
      }
    }
}
</script>


<style>
.small-container {
  text-align: center;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
</style>
